body {
  font-family: Roboto;
   background-image: linear-gradient(to top, #dfe9f3 25%, white 75%);
   background-repeat: no-repeat;
   background-attachment: fixed;
}

.container {
   width: 400px;
   margin: 100px auto;
   background-color: white;
}

h1 {
text-align: center;
}

input {
 font-size: 18px;
 color: black;
 background: #f7f7f7;
 width: 100%;
 padding: 13px 13px 13px 20px;
 margin: 10px -2px 10px 10px;
 box-sizing: border-box;
 border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
  background: #f7f7f7;
  border: 2px dashed #bfbfbf;
  outline: none
}

#new-task-content {
margin-left: -1px;
}

input.mark-complete {
width: 17px;
height: 17px;
}

.mark-complete {
margin-top: unset;
margin-bottom: unset;
}

p {
margin-top: -3px;
}

hr {
margin-top: -3px;
}

.delete {
margin-right: 5px;
}

.btn-light {
padding: 5px 25px;
font-size: 15px;
border: 1px solid grey;
}

.btn-light:hover {
border: 1px solid black;
background-color: #f2f2f2;
}

button {
background-color: unset;
border: unset;
margin: 0px 5px 15px 0px;
}
